.login form{
    background-color: rgb(241, 234, 225);
    border-radius: 10px;
}
.login{
    width: 300px;
    position: absolute;
    margin-top: 8%;
    margin-left: 5%;
    /* height: 900px; */
    font-weight: bold;
    float: left;
    position: absolute;
    top: 0;

}

.log{
    text-align: center;
}
.form-content{
    text-align: left;
    margin-left: 3%;
}
.home{
    background-color: bisque;
}

.form title{
    margin-top: 6px;
}

.home{
    width: 100%;
    height: 100vh;
    float: none;
    background-image: url('bg.jpg');
    margin-right: 5%;
    /* background-repeat: no-repeat; */
    /* background-size: cover; */

}
.home-form{
    float: right;
    margin-right: 5%;
}
#search {
width: 600px;
padding-top: 5%;
margin-top: 5%;
margin-right: 12px;
border: 2px solid seashell;
border-radius: 10px;

}

.site-title{
    color: #ffff;
    font-size: 40px;
    float: left;
    margin-top: 1%;
    margin-left: 2%;
    font-weight: bolder;
}

.home-content{
    margin: 20%;
    float: right;
}

.image{
    /* text-align: right; */
}
.temp{
    color: white;
    font-weight: lighter;
    text-decoration-style: wavy;
    font-size: 50px;
   
}

.today{
    margin-top: 6%;
    width: 70px;
    height: 80px;
    border-radius: 5%;
}
.temp{
    font-size: larger;
    color: rgb(195, 255, 0);
}